@using Microsoft.AspNetCore.Components.Forms
@page "/"

<PageTitle>Лист персонажа</PageTitle>
<h1>Генератор листа персонажа</h1>
<p>
    На этой странице можно создать лист персонажа Аркленс с вашим портретом.
</p>

<p>
    Можете выбрать портрет из стандартных для вашей расы и пола:
    <select class="form-select" @onchange="@ChooseDefaultPortrait">
        @foreach (var portrait in DefaultPortraitUrls)
        {
            <option value="@portrait.Value">@portrait.Key</option>
        }
    </select>
</p>

<p>
    Либо загрузите свой портрет
    <InputFile class="form-control" OnChange="@HandleFile" accept="image/*">Загрузите портрет</InputFile><br/>
</p>

<p>
    <button class="btn btn-danger" @onclick="@DropImage">🗑️</button>
    Эта кнопка очищает портрет 
</p>

<p>
    <InputText @bind-Value="@_fileName"/> Можете написать здесь названия скачиваемых файлов
</p>

@if ((_charsheetFront, _charsheetBack) is (not null, not null))
{
    <div>
        @((MarkupString)CreateFrontPage())
        @((MarkupString)CreateBackPage())
    </div>
}

<button class="btn btn-primary" @onclick="@(() => DownloadFile(false, true))">⬇️ Переднюю часть (svg)</button>
<button class="btn btn-primary" @onclick="@(() => DownloadFile(true, false))">⬇️ Заднюю часть (svg)</button>
<button class="btn btn-success" @onclick="@(() => DownloadFile(true, true))">⬇️ Обе части (zip)</button>
<p>
    Лист персонажа это лист А4 распечатанный с двух сторон. Вы можете скачать его целиком (оставьте обе галочки) в zip,
    либо по отдельности (выберите одну галочку). Очень желательно печатать в цвете, так как я использую навигацию 
    по эмоджи, с ними будет сложнее в ЧБ.
</p>
<p>
    Передняя сторона содержит портрет персонажа, задняя всегда будет одинаковая.
</p>
<p>
    Скачивается он в svg по ряду причин, вы можете открыть SVG в браузере и сохранить в PDF, если вам вдруг нужно.
    Я советую сделать именно так, ибо SVG и особенно эмоджи зависят от системы пользователя (на андроиде, вин10 и вин11
    эмоджи выглядят очень по-разному).
</p>

<p>
    <img src="https://i.pinimg.com/originals/67/e5/e2/67e5e258f7c982e6154271b92aa5a65f.jpg" alt="Котенок" class="cat"/>
</p>
Просто смешной котенок